body
{
    color:white;
    background-color: #115959;
    overflow-y: no-display;
    height: 100%;
    width: 100%;
}
#top-bar
{
    background-color: #115959;
    width: 100%;
}
#wrapper
{
    margin: 10px;
    padding: 20px;
    height: 100%;
    
}
.align-center
{
    text-align: center;
}
#main-table
{
    font-size: 34px;
    
}
#logo h1{
    font-size: 80px;
}
#logo h2{
    font-size: 45px;
}

/*
* Horizontal screen query.
*/
@media screen and (width: 1080) {
    #logo h1{
        padding-top:40px;
       font-size: 40px;
    }
    tbody{
        font-size: 45px;
    }
    .middle-text
    {
        font-size: 70px;
        padding-top: 20px;
    }
}