body
{
    color:white;
    background-color: #115959;
    overflow-y: no-display;
    height: 100%;
    width: 100%;
}
#top-bar
{
    background-color: #115959;
    width: 100%;
}
#wrapper
{
    margin: 10px;
    padding: 20px;
    height: 100%;
    
}
.align-center
{
    text-align: center;
}
#main-table
{
    font-size: 34px;
    
}
#logo h1{
    font-size: 80px;
}
#logo h2{
    font-size: 45px;
}
@media screen and (width: 1080) and (height: 1920) {
    #logo h1{
        //font-size: 41px;
       // padding-top: 40px;
    }
}