body
{
    color:white;
    background-color: #115959;
    overflow-y: no-display;
    height: 100%;
    width: 100%;
}
#top-bar
{
    background-color: #115959;
    width: 100%;
}
#wrapper
{
    margin: 10px;
    padding: 20px;
    height: 100%;
    
}
.align-center
{
    text-align: center;
}
.right-text{
   padding-top:13px !important;
   font-size: 40px !important;
}
tbody{
    font-size: 22px;
}
thead
{
    font-size: 24px;
}
td
{
    padding:15px !important;
}
.middle-text
{
    font-size: 70px !important;
    padding-top: 18px !important;
}
#no-results
{
    font-size: 40px;
     margin:0 auto;
    position:relative;
    text-align: center;
}
.table-striped > tbody > tr:nth-of-type(2n+1)
{
    background-color: #0d4949;
    
}
.fffW-widget
{
    background-color:#0d4949 !important;
    color:white !important;
    border: 1px solid #dfdfdf !important;
}